.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.input {
  /* margin-top: 20px !important; */
}
.formBox {
  background-color: rgb(255, 255, 255);
  padding: 30px 60px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
