.container {
  padding-top: 10vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  height: 100vh;
}
.header {
  text-align: center;
  background-color: rgb(6, 6, 58);
  color: white;
  padding: 10px;
}
.cardContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px white;
}
.cardContainer:hover {
  background-color: rgba(26, 29, 207, 0.374);
}
.cardGroup {
  padding: 1vw;
  height: 70vh;
  overflow: auto;
}
.cardItem {
  background-color: rgba(0, 0, 0, 0.495);
  padding: 10px 20px;
  font-size: large;
  border-radius: 6px;
  /* border: 2px solid rgb(13, 15, 162); */
  text-transform: capitalize;
  color: white;
  font-family: monospace;
}
.cardItem:hover {
  background-color: rgba(0, 0, 0, 0.437);
}
#vs {
  background-color: rgb(13, 16, 45);
  border-radius: 10px;
  border: none;
  font-weight: bold;
}
.matchHeader {
  background-color: aliceblue;
  padding: 10px;
  align-items: center;
  text-align: center;
  color: rgb(15, 66, 111);
  font-size: larger;
  margin: 5px;
}
